a{
    text-decoration: none;
    color: green;
}

i{
    color:black;
}
    

a:hover{
    color: aliceblue;
}

.navbar{
    font-size: 25px;
    border-bottom: solid 1px green;    
}
.form-control{
    width: 250px;
}

.btn{
    margin-bottom: 10px;
}

.contenedor{
    height: 100vh;
    color:green;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

ul{
    list-style:none;
}