a{
    text-decoration: none;
    color: green;
}

i{
    color:black;
    margin-bottom: 20px !important;
}
    

a:hover{
    color: aliceblue;
}

.navbar{
    font-size: 25px;
    border-bottom: solid 1px green;    
}
.form-control{
    width: 250px;
}

.btn{
    margin-bottom: 10px;
}

.contenedor{
    margin: 50px;
    height: 100vh;
    
}


ul{
    list-style:none;
}

body{
    margin-left: 20px;
    margin-right: 20px;
}

table{
    width: 60% !important;
}